<h1>Willkommen bei LetsPlay!</h1>
<p>Wähle ein Spiel aus:</p>
<ul>
 
  <li><a routerLink="/tictactoe">Tic Tac Toe</a></li>
  <li><a routerLink="/memory">Memory</a></li>
  <li><a routerLink="/doodlejump">Doodle Jump</a></li>
  <li><a routerLink="/rockpaperscissors">Rock-Paper-Scissors</a></li>
  <li><a routerLink="/minesweeper">Minesweeper</a></li>
  <li><a routerLink="/checkers">Checkers Game</a></li>
  <li><a routerLink="/space-invaders">Space Invaders</a></li>



</ul>
<router-outlet></router-outlet>
